<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>VincoSkill</h1>
    <br />
    <h2>Skill training for the next generation.</h2>
    <br />
    <%= link_to 'Get Started', new_user_registration_path, :class => 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>What?</h3>
    VincoSkill is a skill development platform designed to help athletes achieve their full potential.
    <br />
    <%= link_to "Interested in Learning More?", welcome_about_path %>
  </div>
  <div class="col-sm-4">
    <h3>How?</h3>
    VincoSkill provides regimented workout routines broken down by exercises to ensure a player can improve to his or her full ability. 
    <br />
    <%= link_to "Need more information?", welcome_about_path %>
  </div>
  <div class="col-sm-4">
    <h3>Why?</h3>
    VincoSkill was started with a simple idea: get the best drills from the best players to improve on the most important aspect of the game. Want to improve? Put in the work. VincoSkill will help. 
    <br />
    <%= link_to "See the Secret Sauce", welcome_info_path %>
  </div>
</div>